extends ../layout

block content
    h1 List Contact
    p List Contact
    a(href="/phonebook/add/") Add 

    ul
    each val, index in pb
        li= val._id + '. Name: ' + val.name + ', Phone: ' + val.phone
            a(href="/phonebook/edit/" + val._id) Edit
            a(href="/phonebook/del/" + val._id) Delete

