<!--
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~     S P A N     B    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
<div class="span9">
		<h1 style="color:beige">confirmation page</h1>     
		<hr class="soften">    
			 
				
		<!--
		######################################  "item was edit / delete" feedback      ###################################### 
		-->
		
			<div class="span6">
				<br><br><br><br>
				<h2 style="color:beige">The item was {{title}} successfully!!</h2>

			</div>	
		 
		<!--
		#############################################  END of form   ############################################## 
		-->    
		
			</div>
		<!--
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  END of   S P A N     B    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		-->
		
		
		