<!--
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~     S P A N     B    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
<div class="span9">
	
	
<h1>Visit Us</h1>     
<hr class="soften">    
   
    
<!--
######################################     shop map   ######################################  
-->
        <div class="span8 relative">
		<iframe style="width:100%; height:350px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41032.23254043111!2d8.219018535740746!3d50.00171053039192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2aee960242bd23ea!2sBAUHAUS!5e0!3m2!1sen!2sus!4v1509904776141"></iframe>
		</div>
<!--
######################################    Contact info   ###################################### 
-->
	<div class="span4">	
		<h4 style="color:white">Contact Details</h4>
		<h5 style="color:white">
			Rheinallee 128<br/>
			55120 Mainz, Germany<br/><br/>
			 
			bauhaus@info.com<br/>
			﻿Tel +49 6131 732280<br/>
			Fax  +49 6131 732281<br/>
			web:bauhaus.info
		</h5>
	</div>	
<!--
######################################     form [POST requset]   ###################################### 
-->

	<div class="span4">
		<h4 style="color:white">Email Us</h4>
		 <form name="feedback" class="form-horizontal" method="post" action="/messages">	 
	
      <fieldset> 
          <div class="control-group">
           
              <input type="text" name="name" placeholder="Name" ng-model="name" class="input-xlarge" required/>
              <span ng-show="feedback.name.$touched && feedback.name.$invalid">The name is required.</span>
		  </div>
		  
		  <div class="control-group">
           
			  <input type="email" name="email" placeholder="Email" ng-model="email" class="input-xlarge" required/>
			  <span ng-show="feedback.email.$touched && feedback.email.$invalid">The E-mail is invalid.</span>
			
		   </div>

		  <div class="control-group">
           
				<input type="text" name="phone" placeholder="Phone Number" ng-model="phone" class="input-xlarge"/>
           
          </div>
		  
		  <div class="control-group">
           
              <input type="text"  name="subject" placeholder="Subject" ng-model="subject" class="input-xlarge"/>
          
		  </div>
		  
          <div class="control-group">
              <textarea rows="3" id="textarea" name="text" class="input-xlarge" placeholder="Write us something" ng-model="text" required></textarea>
			  <span ng-show="feedback.text.$touched && feedback.text.$invalid"> Please write us something.</span>
          </div>

	 	  <button class="shopBtn" type="submit" ng-disabled="feedback.$invalid" ng-click="sendform()">Send email</button>
		  
       </fieldset> 
	 </form>
		</div>


	</div>	
 
<!--
#############################################  END of form   ############################################## 
-->    



	</div>
<!--
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  END of   S P A N     B    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->


